/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  background-color: #a0b277;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: aqua;
  background-color: blue;
  text-align: center;
}

#inicio {
  background-color: #2d19e8;
  font-size: 20mm;
  text-align: center;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#inicio .fade-in-text {
  opacity: 0; /* Start with the element hidden */
  animation: fadeIn 3s forwards; /* Apply the fade-in animation */
}

.emphasis {
  text-align: center;
  color: aqua;
  font-weight: 600;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1; /* End with the text fully visible */
  }
}
