/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

#inicio {
  background-color: #2d19e8;
  font-size: 40mm;
  text-align: center;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #2d19e8;
  padding: 5rem;
  margin: 1rem;
}

p {
  font-size: 40mm;
  text-align: center;
  font-weight: bolder;
  font-family: "Syne", sans-serif;
  color: #2d19e8;
  padding: 5rem;
  margin: 1rem;
  animation: slideIn 3s;
}

#inicio .fade-in-text {
  opacity: 0; /* Start with the element hidden */
  animation: fadeIn 3s forwards; /* Apply the fade-in animation */
}

@keyframes slideIn {
  from {
    transform: translateX(-800px); /* Start off-screen */
  }
  to {
    transform: translateX(0px); /* End on-screen */
  }
}

.emphasis {
  text-align: center;
  color: aqua;
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-items {
  padding: 0 1rem 0 0;
  color: #2d19e8;
  background-color: cyan;
  font-weight: bolder;
  font-size: larger;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

body {
  font-family: Syne, sans-serif;
}

button:hover {
  background-color: #ff0000;
  color: white;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1; /* End with the text fully visible */
  }
}
