@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Syne:wght@400..800&display=swap");

.contenedor {
  position: relative; /* Contenedor relativo para posicionar los elementos */
  width: 100%;
  height: 100vh; /* Asegura que tenga suficiente altura */
}
.titulo {
  font-family: Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: bolder;
  color: blue;
  text-align: center;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.minombre {
  font-family: Monsieur La Doulaise, sans-serif;
  font-size: 5rem;
  color: rgb(0, 255, 13);
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.btn {
  font-family: "helvetica", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: blue;
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  border-radius: 10px; /*Espacio interno del contenido del botón*/
  padding: 0.8rem 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: absolute;
  margin-top: 22.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.btn:hover {
  box-shadow: 1px 4px 10px blue; /* Cambia el color al pasar el cursor */
}

.gifportada {
  position: absolute;
  align-items: center;
  top: -8%;
  left: 35%;
  width: 30%;
}

.menu {
  font-family: Helvetica, sans-serif;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0rem 0 0rem 0;
  position: fixed;
  top: 0%;
  z-index: 100;
  box-shadow: 0 4px 5px rgba(0, 0, 255);
}

.menu a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0 2rem 0 2rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.menu a:hover {
  font-size: 1.2rem;
  color: rgb(57, 8, 236);
}

.sombra-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 4px 10px blue;
  z-index: 9999;
}

.me {
  font-family: Monsieur La Doulaise, sans-serif;
  font-size: 4rem;
  color: blue;
  padding: 0.5rem;
  text-align: left;
  position: absolute;
  top: 19%;
  left: 6%;
}

.fotoJV {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: auto;
  align-items: right;
}
.fotoJV2 {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: auto;
  align-items: right;
}
.fotoJV3 {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
  width: 12.5rem;
  height: auto;
  align-items: right;
}

.contenedor-descripcion {
  position: absolute;
  top: 40%;
  left: 6%;
  width: 40%;
  height: auto;
}
.descripcion {
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  top: 40%;
  position: absolute;
  z-index: 2;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: rgb(255, 0, 255);
}
