@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Syne:wght@400..800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.contenedor {
  position: relative; /* Contenedor relativo para posicionar los elementos */
  width: 100%;
  height: 100vh; /* Asegura que tenga suficiente altura */
}
.titulo {
  font-family: Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: bolder;
  color: blue;
  text-align: center;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.minombre {
  font-family: Monsieur La Doulaise, sans-serif;
  font-size: 5rem;
  color: rgb(0, 255, 13);
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.btn {
  font-family: "helvetica", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: blue;
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  border-radius: 10px; /*Espacio interno del contenido del botón*/
  padding: 0.8rem 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: absolute;
  margin-top: 22.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.btn:hover {
  box-shadow: 1px 4px 10px blue; /* Cambia el color al pasar el cursor */
}

.gifportada {
  position: absolute;
  align-items: center;
  top: -8%;
  left: 35%;
  width: 30%;
}

.sombra-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  box-shadow: 0 4px 10px blue;
  z-index: 9999;
}

.entrada {
  position: absolute;
  top: 9%;
  left: 6%;
  font-size: 4rem;
  color: blue;
}
.me {
  font-family: Monsieur La Doulaise, sans-serif;
  font-size: 3.3rem;
  color: rgb(0, 255, 13);
  text-align: left;
  position: absolute;
  top: 17%;
  left: 6%;
}

.fotoJV {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: auto;
  align-items: right;
}
.fotoJV {
  transition: filter 0.3s ease; /* Transición suave al aplicar el efecto */
}

.fotoJV:hover {
  filter: brightness(200%); /* Cambia el tono de la imagen */
}
.fotoJV2 {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: auto;
  align-items: right;
}
.fotoJV2 {
  transition: filter 0.3s ease; /* Transición suave al aplicar el efecto */
}

.fotoJV2:hover {
  filter: brightness(200%); /* Cambia el tono de la imagen */
}
.fotoJV3 {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(-50%, -50%);
  width: 12.5rem;
  height: auto;
  align-items: right;
}
.fotoJV3 {
  transition: filter 0.3s ease; /* Transición suave al aplicar el efecto */
}

.fotoJV3:hover {
  filter: brightness(200%); /* Cambia el tono de la imagen */
}
.fotoJV4 {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: auto;
  align-items: right;
}
.fotoJV4 {
  transition: filter 0.3s ease; /* Transición suave al aplicar el efecto */
}

.fotoJV4:hover {
  filter: brightness(200%); /* Cambia el tono de la imagen */
}

.contenedor-descripcion {
  position: absolute;
  top: 40%;
  left: 6%;
  width: 35%;
  height: auto;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
.descripcion {
  top: 40%;
  position: absolute;
  z-index: 2;
}

.descripcion2 {
  top: 50%;
  position: absolute;
}

.estrella-btn {
  position: relative;
  width: 100%;
  height: 100vh;
}

.btn2 {
  color: rgb(0, 255, 13);
  font-size: 0.8rem;
  font-family: helvetica, sans-serif;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8%;
  left: 6%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.btn2:hover {
  font-weight: bolder;
}

.btn3 {
  color: rgb(0, 255, 13);
  font-size: 0.8rem;
  font-family: helvetica, sans-serif;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8%;
  left: 12%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.btn3:hover {
  font-weight: bolder;
}

.btn4 {
  color: rgb(0, 255, 13);
  font-size: 0.8rem;
  font-family: helvetica, sans-serif;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8%;
  left: 27%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.btn4:hover {
  font-weight: bolder;
}

.btn5 {
  color: rgb(0, 255, 13);
  font-size: 0.8rem;
  font-family: helvetica, sans-serif;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8%;
  left: 35%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.btn5:hover {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.imagen-zoom {
  width: 90px; /* Tamaño inicial de la imagen */
  height: auto;
  transition: transform 0.3s ease; /* Transición suave */
  position: absolute;
  top: 20%;
  left: 15%;
}
.imagen-zoom2 {
  width: 90px; /* Tamaño inicial de la imagen */
  height: auto;
  transition: transform 0.3s ease; /* Transición suave */
  position: absolute;
  top: 20%;
  left: 5%;
}

.imagen-zoom3 {
  width: 230px; /* Tamaño inicial de la imagen */
  height: auto;
  transition: transform 0.3s ease; /* Transición suave */
  position: absolute;
  top: 20%;
  right: 5%;
}

.imagen-zoom3:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.imagen-zoom4 {
  width: 230px; /* Tamaño inicial de la imagen */
  height: auto;
  transition: transform 0.3s ease; /* Transición suave */
  position: absolute;
  top: 20%;
  right: 25%;
}

.imagen-zoom4:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.imagen-zoom5 {
  width: 350px;
  position: absolute;
  top: 95%;
  left: 30%;
}
.imagen-zoom6 {
  width: 230px;
  position: absolute;
  top: 95%;
  right: 20%;
}
.imagen-zoom6:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.imagen-zoom7 {
  width: 230px;
  position: absolute;
  top: 160%;
  right: 40%;
}
.imagen-zoom7:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}
.imagen-zoom8 {
  width: 230px;
  position: absolute;
  top: 160%;
  right: 60%;
}
.imagen-zoom8:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}
.imagen-zoom9 {
  width: 230px;
  position: absolute;
  top: 160%;
  right: 80%;
}
.imagen-zoom9:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.posters1 {
  font-family: helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: rgb(0, 255, 13);
  position: absolute;
  align-items: center;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes cambioRapido {
  0% {
    color: rgb(0, 255, 13); /* Color inicial */
  }
  50% {
    color: blue; /* Color alternativo */
  }
  100% {
    color: rgb(0, 255, 13); /* Vuelve al color inicial */
  }
}

.posters1:hover {
  animation: cambioRapido 0.2s infinite; /* Cambia de color rápidamente */
}

.posters2 {
  font-family: Monsieur La Doulaise, sans-serif;
  font-size: 3rem;
  color: blue;
  position: absolute;
  align-items: center;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tituloposter {
  font-family: helvetica, sans-serif;
  font-size: 1.5rem;
  color: blue;
  height: 100%;
}

.poster1 {
  position: absolute;
  top: 25%;
  left: 26%;
}

.poster2 {
  position: absolute;
  top: 100%;
  left: 5%;
}

.poster3 {
  position: absolute;
  top: 160%;
  right: 20%;
}
.descripcion2 {
  top: 32%;
  position: absolute;
  left: 26%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  width: 28.5%;
}
.descripcion3 {
  top: 170%;
  position: absolute;
  right: 7.5%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  width: 28.5%;
}
.descripcion4 {
  top: 110%;
  position: absolute;
  left: 5%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  width: 28.5%;
}
.descripcion5 {
  top: 210%;
  position: absolute;
  right: 44%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
.descripcion6 {
  top: 210%;
  position: absolute;
  right: 64%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
.descripcion7 {
  top: 210%;
  position: absolute;
  right: 80.5%;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: rgb(255, 0, 255);
  padding: 2rem 0 0 0;
}
